body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

label, button {
    display: block;
    margin-top: 15px;
}