<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Collection</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="header">
        <h1 class="logotype">Personal Collection</h1>
        <input type="search" placeholder="Поиск...">
        <div class="search-group">
            <button>Найти</button>
            <button>Расширенный поиск</button>
        </div>
    </div>


    <div class="main">
        <div class="user-welcome">
            <h4>Добро пожаловать, {{username}}!</h4>
            <form action="{% url 'logout' %}" method="POST" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Выйти</button>
            </form>
        </div>
        
        <div class="list">
            <h3>В процессе чтения:</h3>
            <ol>
                <li>
                    <a href="">"Записки из мертвого дома", Ф.М. Достоевский, 1873</a>
                </li>
                <li>
                    <a href="">Вторая книга</a>
                </li>
                <li>
                    <a href="">Третья книга</a>
                </li>
            </ol>
        </div>
        <button id="openModalBtn">Добавить объект</button>
    </div>

    {% include 'add_book.html' %}
</body>
</html>